<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style_navbar.css">
  <link rel="stylesheet" href="static/style_add_food.css">
  <title>CaloriTracker</title>
</head>
<body>
  <div class="upnav">
    <h1>Nova hrana</h1>
    <p class="message">{{ message }}</p>
    <div class="k_sekcija">
      <p>Korisnik: <p class="korisnik">{{ user }}</p></p>
    </div>
  </div>
  <div class="navbar">
    <ul>
      <li class="first"><a href="{{url_for('home')}}">Home</a></li>
      <li><a href="{{url_for('add_food')}}">Nova hrana</a></li>
      <li class="last"><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </div>

  <div class="addNewFoodForm">
    <h2>Dodaj novu hranu</h2>

    <form action="{{url_for('add_new_food')}}" method="post">
      <div class="addNewFood">
        <div class="name">
          <label for="food_name">Ime hrane</label>
          <input type="text" name="food_name" id="food_name">
        </div>

        <div class="prot">
          <label for="proteins">Proteini</label>
          <input type="number" min="0" step="0.1" name="proteins" id="proteins">
        </div>

        <div class="carbs">
          <label for="carbs">Ugljikohidrati</label>
          <input type="number" min="0" step="0.1" name="carbs" id="carbs">
        </div>

        <div class="fats">
          <label for="fats">Masti</label>
          <input type="number" min="0" step="0.1" name="fats" id="fats">
        </div>
      </div>
      <div class="add">
        <p>*porcija na 100g</p>
        <input class="dodaj" type="submit" value="Dodaj">
      </div>
    </form>
  </div>

  <div class="food_list">
    <table>
      <caption></caption>
      <tr>
          <th>Br.</th>
          <th>Ime hrane</th>
          <th>Proteini</th>
          <th>Ugljikohidrati</th>
          <th>Masi</th>
          <th>Kalorije</th>
          <th>#</th>
      </tr>
      {% for food in food_list %}
      <tr class="food_row">
        <td>{{ loop.index }}</td>
        <td>{{ food.name }}</td>
        <td>{{ food.proteins }}g</td>
        <td>{{ food.carbs }}g</td>
        <td>{{ food.fats }}g</td>
        <td>{{ food.calories }}</td>
        <td><a class="delete_btn" href="{{ url_for('delete_food', food_id=food.id) }}" method = "post">Obriši</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>