<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style_navbar.css">
  <link rel="stylesheet" href="static/style_home.css">
  <title>CaloriTracker</title>
</head>
<body>
  <div class="upnav">
    <h1>Home</h1>
    <p class="message">{{ message }}</p>
    <div class="k_sekcija">
      <p>Korisnik: <p class="korisnik">{{ user }}</p></p>
    </div>
  </div>
  
    <div class="navbar">
      <ul>
        <li class="first"><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('add_food')}}">Nova hrana</a></li>
        <li class="last"><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </div>

    

    <form action="{{url_for('add_new_meal')}}" method="post">
      <div class="new_meal">
        <label for="datum">Datum:</label>
        <input type="date" id="datum" name="datum">
        <input class="dodaj" type="submit" value="Dodaj">
      </div>
    </form>



    
    <div class="content">
      {% for row in meal_sums|batch(1) %}
        <div class="meal">
          {% for meal_sum in row %}
            <table>
              <th>Datum: {{ meal_sum['meal_sums'].date.strftime('%d.%m.%Y') }}</th>
              <tr>
                  <td>Proteini:</td>
                  <td>{{ meal_sum['proteins'] }}</td>
              </tr>
              <tr>
                  <td>Ugljikohidrati:</td>
                  <td>{{ meal_sum['carbs'] }}</td>
              </tr>
              <tr>
                  <td>Masti:</td>
                  <td>{{ meal_sum['fats'] }}</td>
              </tr>
              <tr>
                  <td>Kalorije:</td>
                  <td>{{ meal_sum['calories'] }}</td>
              </tr>
            </table>
            
            <div class="meal_edit">
              <form action="{{ url_for('delete_meal', meal_id=meal_sum['meal_sums'].id) }}" method="POST">
                <input type="submit" class="dodaj" value="Obriši">
              </form>
              <form action="{{ url_for('preview_meal', meal_id=meal_sum['meal_sums'].id) }}" method="POST">
                <input type="submit" class="dodaj" value="Pogledaj">
              </form>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>


  </body>

</html>