<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style_navbar.css">
  <link rel="stylesheet" href="style_preview_meal.css">
  <title>CaloriTracker</title>
</head>
<body>
  <div class="upnav">
    <h1>Novo jelo</h1>
    <p class="k_sekcija">Korisnik: <p class="korisnik">{{ user }}</p></p>
  </div>
  <div class="navbar">
    <ul>
      <li class="first"><a href="{{url_for('home')}}">Home</a></li>
      <li><a href="{{url_for('add_food')}}">Nova hrana</a></li>
      <li class="last"><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </div>

  <div class="addMealForm">
    <form action="{{url_for('add_food_existing_meal', meal_id=meal.id)}}" method="post">
      <select name="food" id="food">
        {% for food in food_name_list %}
        <option value="{{ food.name }}">{{ food.name }}</option>
        {% endfor %}
      </select>
      
      <input class="dodaj" type="submit" value="Dodaj">
    </form>
  </div>

  <div class="food_list">
    <p class="date">Datum: {{ date.strftime('%d.%m.%Y') }}</p>
    <table>
      <caption></caption>
      <tr>
          <th>Br.</th>
          <th>Ime hrane</th>
          <th>Proteini</th>
          <th>Ugljikohidrati</th>
          <th>Masi</th>
          <th>Kalorije</th>
          <th>#</th>
      </tr>
      {% for food in food_in_meal %}
      <tr class="food_row">
        <td>{{ loop.index }}</td>
        <td>{{ food.name }}</td>
        <td>{{ food.proteins }}g</td>
        <td>{{ food.carbs }}g</td>
        <td>{{ food.fats }}g</td>
        <td>{{ food.calories }}</td>
        <td>
          <form method="post" action="{{ url_for('delete_food_existing_meal', meal_id=meal.id) }}">
            <input type="hidden" name="food_id" value="{{ food.id }}">
            <input class="delete_btn" type="submit" value="Obriši">
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>

    <p class="total_cal">Ukupno kalorija: {{ total_calories }}</p>

  </div>

</body>
</html>